
QWidget
{
    color: lightgray;
    background-color: black;
}

QWidget:disabled
{
    color: gray;
}

/* QFrame[frameShape="4"],
QFrame[frameShape="5"]
{
    color: rgb(43, 43, 43);
    border: 1px solid rgb(43, 43, 43);
} */

QScrollArea
{
    border: 2px solid rgb(70, 70, 70);
    border-radius: 15px;
    padding: 10px;
}

QScrollArea::corner
{
    background: transparent;
}

QScrollBar
{
    border: none;
}

QScrollBar::handle
{
    background-color: rgb(70, 70, 70);
    border-radius: 7px;
}

QScrollBar::add-line, QScrollBar::sub-line
{
    border: none;
    background: none;
}

/* QLabel
{
    color: white;
} */

QPushButton
{
    color: white;
    border: 2px solid rgb(80, 80, 255);
    background-color: rgb(80, 80, 255);
    border-radius: 16px;
    padding: 6px;
}

QPushButton:hover
{
    border-color: rgb(100, 100, 255);
    background-color: rgb(100, 100, 255);
}

QToolButton
{
    color: white;
    border: 2px solid rgb(80, 80, 255);
    background-color: transparent;
    border-radius: 16px;
    padding: 4px;
    padding-bottom: 5px;
}

QToolButton:hover
{
    background-color: rgb(80, 80, 255);
}

QPushButton:pressed, QToolButton:pressed
{
    color: white;
    border-color: white;
}

QPushButton:disabled, QToolButton:disabled
{
    color: gray;
    border-color: gray;
}

QComboBox, QLineEdit
{
    color: white;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 16px;
    padding: 5px;
    selection-background-color: rgb(80, 80, 255);
}

QComboBox::drop-down
{
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: rgb(80, 80, 255);
}

/* QComboBox::down-arrow
{
    background-color: blue;
} */

QPlainTextEdit, QListWidget
{
    /* border-style: solid;
    background-color: rgb(43, 43, 43);
    selection-background-color: rgb(53, 53, 255);
    color: rgb(170, 170, 170); */
    border-radius: 5px;
}

QSpinBox, QDoubleSpinBox
{
    selection-background-color: rgb(80, 80, 255);
    padding: 3px;
}

QProgressBar
{
    border-style: solid;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: rgb(80, 80, 255);
    margin: 2px;
}
