[Desktop Entry]

Type=Application
Version=1.0
Name=RosLauncher
Exec=/usr/bin/python3 PATH/RosLauncher %f
Icon=ros_launcher
MimeType=application/xml;
Terminal=true